/** Google Fonts example for roboto */
/*.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

/** General Styles */

:root {
    --nav-height: 4rem;
}

html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto; /* Instant scrolling for screen readers, good practice :) */
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    font-family: 'Roboto', monospace;
}

h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Roboto', monospace;
    padding-left: .2rem;
    padding-right: .2rem;
    color: #333;
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

.btn {
    width: fit-content;
    background-color: #4c84af;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .25rem .12rem;
    border-radius: .25rem;
    cursor: pointer;
}
.btn:hover {
    background-color: #357ABD;
}

.btn-inverse {
    width: fit-content;
    background-color: white;
    border: none;
    color: #4c84af;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .25rem .12rem;
    border-radius: .25rem;
    cursor: pointer;
}
.btn-inverse:hover {
    background-color: #e9f5ff;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1rem 0;
}
main {
    padding: 0px 1.5rem 0px 1.5rem;
    max-width: 1200px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/** Visibility transition classes */
.phrase {
    opacity: 0;
    transition: opacity 0.8s ease;
}
.visible {
    opacity: 1;
}

/** Underline class with pseudo element */
.underline {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #223553;
}

.underline::after {
    content: "";
    position: absolute;
    left: 10%; /* start 10% from left */
    right: 10%; /* end 10% before right */
    bottom: -0.2rem; /* space from text */
    height: 2px; /* line thickness */
    background-color: #223553;
}

/** Section scroll margin top to account for navbar */
section:not(#main) {
    scroll-margin-top: var(--nav-height);
}

/** Navbar Styles */
@scope (nav) {
    :scope {
        position: fixed;
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color: #333;
        padding: .5rem 0;
        align-items: center;
        transition: background-color 0.3s ease;
        z-index: 1000;
    }
    :scope.transparent {
        background-color: transparent;
    }
    /* Solid when scrolled */
    :scope.solid {
        background-color: #333;
        backdrop-filter: blur(.4rem); /* Nice glass effect, just found out about this */
    }
    #logo {
        border: .5rem solid #ccc;
        border-radius: .25rem;
        margin-left: .5rem;
        margin-right: auto;
    }
    #logo h2 {
        color: white;
        font-size: 2rem;
        margin: 0;
    }
    a {
        color: white;
        text-decoration: none;
        padding: 1rem 1.5rem;
    }
    a:hover {
        background-color: #ddd;
        color: black;
    }
}

/** Section Styles */
@scope (#IntroSection) {
    :scope {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #223553;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 100vh;
        box-sizing: border-box;
    }

    :scope .intro-text-container {
        flex-direction: column;
    }

    h1 {
        font-size: 4rem;
        color: white;
        font-weight: 600;
    }

    img {
        width: 33vw;
    }

    @media screen and (max-width: 768px) {
        :scope {
            flex-direction: column;
            text-align: center;
            height: 100vh; /* Allow height to adjust for mobile, but I'll play around with it and see if I can get rid of the code below and have this 100vh */
            padding-top: calc(var(--nav-height) + 1.5rem); /* Add some padding to the top for mobile */
            padding-bottom: 1.5rem;
        }
        :scope .intro-text-container {
            flex-direction: column;
            margin-bottom: 2rem;
        }
        img {
            width: auto;
            min-height: 0;
        }
        h1 {
            font-size: 2.5rem;
        }
    }
}

@scope (#AboutSection) {
    :scope {
        text-align: center;
        width: 100%;
        background-color: #f2f2f2;
        min-height: 50vh;
        padding: 1.5rem 0;
    }
    h2 {
        font-size: 3rem;
        font-weight: 600;
    }
    p {
        max-width: 800px;
        margin: auto;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    @scope (#AboutGrid) {
        :scope {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr) minmax(4rem, 1fr));
            gap: 3rem;
            padding: 3rem;
        }
        h2, h3, p {
            text-align: left;
            padding: 0;
        }
        img {
            width: 100%;
            height: auto;
            transition: transform 0.3s;
        }
        img:hover {
            cursor: pointer;
            transform: translateY(-5px);
        }
    }
}

@scope (#PortfolioSection) {
    :scope {
        text-align: center;
        width: 100%;
        background-color: #e2e2e2;
        min-height: 50vh;
    }
    h2 {
        font-size: 3rem;
        font-weight: 600;
    }
    h4 {
        max-width: 800px;
        margin: auto;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    @scope (#PortfolioGrid) {
        :scope {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1.5rem;
            padding: 1.5rem;
        }
        a, a:-webkit-any-link {
            color: inherit;
            text-decoration: none;
            display: block;
            background-color: white;
            padding: 1em;
            border-radius: 0.5rem;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s;
        }
        a:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        }
        h2, h3, p {
            text-align: left;
            padding: 0;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: .5rem;
            transition: transform 0.3s;
        }
    }
}

@scope (#ContactSection) {
    :scope {
        width: 100%;
        background-color: #d1d1d1;
        min-height: 30vh;
        text-align: center;
        padding: 1.5rem 0;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input, textarea {
        width: 80%;
        padding: .75rem;
        margin: .75rem 0;
        border: .1rem solid #ccc;
        border-radius: .25rem;
    }
    input[type="submit"] {
        width: auto;
        background-color: #4c84af;
        color: white;
        border: none;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #357ABD;
    }
}

@scope (#ProjectSection) {
    :scope {
        width: 100%;
        background-color: #d1d1d1;
        min-height: 30vh;
        text-align: center;
        padding: 1.5rem 0;
        padding-top: calc(var(--nav-height));
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    img {
        width: 100%;
        height: auto;
    }
    .project {
        display: flex;
    }
    .airtable-embed {
        padding: 1rem;
        border-radius: .5rem;
    }
}
